* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    padding: 18px 16px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ========== Header ============ */
.header {
    position: relative;
    background-color: #e6f0ff;
    min-height: 736px;
}

.navbar {
    display: flex;
    padding-top: 47px;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 64.47px;
}

.navbar ul a {
    padding: 8px 15px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .btn-register {
    padding: 13px 20px;
    border-radius: 8px;
}

.navbar .action a:first-child {
    margin-right: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    color: var(--primary-color);
}

/* ========== Hero ============ */

.hero .info {
    width: 50%;
    margin-top: 165px;
}

.hero .subtile {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    margin-top: 8px;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 30px 0px 40px;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ========== Clients =========== */

.clients {
    margin: 79px 0 40px;
    padding: 43px 0 41px;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 91px;
    padding: 0 40px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ========== Guides ============ */

.guides {
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    margin-top: -10px;
    position: absolute;
    display: inline-block;
    content: "";
    width: 41px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    width: 459px;
    margin: 20px auto 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

/* ========== List guides ==========*/

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guides-item {
    text-align: center;
    margin: 0 70px;
}

.guides-item .title {
    margin: 26px 0 10px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guides-item .link {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0689ff;
}

.guides-item .link span {
    margin-right: 6px;
}

.guides-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides-cta .btn {
    min-width: 170px;
}

/* ============= Featured =============== */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.featured .sub-title {
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    color: #000339;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
    word-break: break-all;
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689ff;
}

.featured .icon {
    margin-left: 8px;
}

/* list */

.featured .list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 70px;
}

.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.featured .list .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.featured .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

.featured .desc {
    margin: 11px 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.featured .body {
    margin: 17px 20px 22px 20px;
}

.featured .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured .info-item {
    display: flex;
    align-items: center;
}

.featured .icon {
    margin-right: 8px;
}

/* ======== Stats ========== */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row1 {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats-trend {
    padding: 45px 22px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    background: #ffffff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 16px;
    margin-top: 30px;
}

.avatar-group {
    display: flex;
    margin-left: 3px;
}

.avatar-group .avatar {
    height: 16px;
    width: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;

    font-weight: 450;
    font-size: 0.9rem;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    background-color: var(--bg-color, #fff);
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .info .sub-title::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 41px;
    height: 4px;
    top: -10px;
    left: 0;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

/* quantity */

.stats .row {
    justify-content: space-between;
}

.row-qty {
    margin-top: 110px;
    padding: 0 32px;
}

.qty-item .qty {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}

.qty-item .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
}

/* ========= subscription =========== */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    align-items: center;
    position: relative;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    width: 670px;
    padding: 0 80px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #ffffff;
}

.subscription .desc {
    margin: 15px 0 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .image {
    position: absolute;
    right: 221px;
    bottom: 0;
}

.subscription .btn {
    background: #fff;
    color: #002366;
    min-width: 151px;
}

/* ========= Footer ========== */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    align-items: start;
}

.footer .row-top {
    gap: 185px;
}

.footer .row ~ .row {
    margin-top: 81px;
}

.footer .heading {
    margin-bottom: 42px;
    font-family: "Lato";
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    color: #1c1c1d;
}

.footer .column .link,
.footer .column .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .column .desc {
    white-space: normal;
}

.footer .column .item ~ .item {
    margin-top: 18px;
}

.footer .column .social {
    margin-top: 40px;
    display: flex;
}

.footer .social-link ~ .social-link {
    margin-left: 16px;
}

.copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
